:root {
    --primary-black: rgb(27, 27, 27);
    --secondary-black: rgb(45, 45, 45);
    --off-white: rgb(243, 243, 243);
}
h2 {
    margin: 0 auto 1rem auto;
}

#ingredient-form {
    display: flex;
    flex-direction: column;
    background-color: var(--off-white);
    width: 100%;
    max-width: 40rem;
    padding: 2rem;
    border-radius: 2rem;
    margin: auto;
    gap: 0.25rem;
}

label {
    font-size: 0.9rem;
    font-weight: 500;
}
#form-wrapper {
    padding-top: 2rem;
    width: 100%;
}

#ingredient-form label {
    display: flex;
    justify-content: space-between;
    width: 500px;
}
#ingredient-form button {
    padding: 0.7em;
    margin: inherit;
    margin-top: 1rem;
}

input,
textarea {
    padding: 0.5em 0.75em;
    width: 100%;
    border-radius: 0.5rem;
    border: 1px solid #ccc;
}

input:focus,
textarea:focus {
    outline: none;
    border-color: rgba(74, 144, 226, 1);
    box-shadow: 0 0 2px rgba(74, 144, 226, 0.2);
}
