#main-page-wrapper {
    display: grid;
    grid-template-columns: 1fr 10fr;
}
#sidebar {
    height: 100%;
    min-width: 0;
}
.sidebar-card {
    display: flex;
    flex-direction: column;
    border-color: #f5f5f5;
    border-radius: 6px;
    box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.2);
    padding: 0px;
    overflow: hidden;
    background-color: white;
}

#sidebar-ingredients {
    padding: 5px;
}
.sidebar-card img {
}

.quantity-selector {
    display: grid;
    grid-template-columns: 1fr 3fr 1fr;
    padding: 3px;
}
.quantity-selector input {
    min-width: 0;
    text-align: center;
}

.recipe-nutrients {
    margin: 0;
    padding: 0;
}
.recipe-nutrients li {
    list-style: none;
}
